@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Raleway:ital,wght@0,300;0,400;1,300&family=Viga&display=swap');
*{
    text-align: center;
    box-sizing: border-box;
    color: whitesmoke;

}

body {
    background: rgb(69,63,251);
    background: linear-gradient(90deg, rgba(69,63,251,1) 0%, rgba(252,70,70,1) 100%);;
}
h1 {
    font-family: 'Viga', sans-serif;
    font-size: 100px;
    margin:0px auto 0px auto;
    text-transform: uppercase;

}

h3{
    font-family: 'Carter One', cursive;
    margin: 0px auto 0px auto;
    font-size: 30px;
}


.buttonGo {
    background-color: white;
    color: #7b41c6;
    padding: 10px;
    width: 150px;
    margin: 100px auto;
    font-family: 'Viga', sans-serif;
    border-radius: 25px;
    transition: all 0.5s;
  	cursor: pointer;

}



#logo{
    width: 80px;
}

.hide {
    display: none;
}
ul{
    list-style: none;
}

.songs{
	display:flex;
	justify-content: center;
	margin: 0 auto;
	width: 80%;
}



.song1, .song2
 {
    height: 300px;
    width: 300px;
    margin: 30px;
    border-radius: 25px;
    text-align: center;
    
}

#titleone,
#titletwo {
	padding: 0px;
}



#imageone,
#imagetwo {
    width: 80%;
    margin-top: 10px;
    border-radius: 50%;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  .song1:hover .overlay {
    opacity: 1;
  }


p {
    font-family: 'Viga', sans-serif;
    color:white;


}


#score {
    color: #1DB954;
}

#endMessage {
    font-family: 'Carter One', cursive;
    font-size: 20px;
}

#endScore{

    color: #1DB954;
}

#premise {
    font-size: 15px;
    font-family: 'Carter One', cursive;
    color: #1DB954;

}

input{
    color: black;
}
/* #global, #singapore, #viral {
	display: inline-block;
	font-size: 20px;
    padding: 10px;
    height: 50px;
    margin: 20px auto;
    font-family: 'Viga', sans-serif;
    border-radius: 25px;
  	cursor: pointer;
  	background-color: white;
}

#global {
	color: #fcb045;
}

#singapore {
	color:#c52a62
}

#viral {
	color: #7b41c6;
} */