@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Raleway:ital,wght@0,300;0,400;1,300&family=Viga&display=swap');
*{
    text-align: center;
    box-sizing: border-box;
    color: whitesmoke;

}

body {
    background: rgb(69,63,251);
    background: linear-gradient(90deg, rgba(69,63,251,1) 0%, rgba(252,70,70,1) 100%);;
}
h1 {
    font-family: 'Viga', sans-serif;
    font-size: 170px;
    margin:0px auto 0px auto;
    text-transform: uppercase;
    
}

h3{
    font-family: 'Carter One', cursive;
    margin: 0px auto 0px auto;
    font-size: 30px;
}


.buttonGo {
    background-color: white;
    color: #7b41c6;
    padding: 10px;
    width: 150px;
    margin: 250px auto;
    font-family: 'Viga', sans-serif;
    border-radius: 25px;
}

#logo{
    width: 140px;
}

.hide {
    display: none;
}
ul{
    list-style: none;
}

.song1, .song2
 {
    display: inline-block;
    height: 250px;
    width: 250px;
    margin: 20px;
    background-color:black;
    border-radius: 25px;
}

#imageone,
#imagetwo {

    width: 80%;
    margin-top: 10px;
    border-radius: 50%;
}

p {
    font-family: 'Viga', sans-serif;
    color:white;

}

#nextround {
    background-color: white;
    color: #7b41c6;
    padding: 10px;
    width: 150px;
    margin: 0 auto;
    font-family: 'Viga', sans-serif;
    border-radius: 25px;
}

#score {
    color: #1DB954;
}

#endMessage {
    font-family: 'Carter One', cursive;
    font-size: 20px;
}

#endScore{

    color: #1DB954;
}

#premise {
    font-size: 15px;
    font-family: 'Carter One', cursive;
    color: #1DB954;
    
}